<?xml version="1.0" encoding="utf-8" ?>
<connectionStrings>
  <add name="datacenterEntities" connectionString="metadata=res://*/Entities.MySqlDatacenter.MySqlDatacenterModel.csdl|res://*/Entities.MySqlDatacenter.MySqlDatacenterModel.ssdl|res://*/Entities.MySqlDatacenter.MySqlDatacenterModel.msl;provider=MySql.Data.MySqlClient;provider connection string=&quot;server=127.0.0.1;user id=test1;password=1111;persistsecurityinfo=True;database=datacenter;characterset=utf8;Convert Zero Datetime=True;Allow Zero Datetime=True&quot;" providerName="System.Data.EntityClient" />
  <add name="MysqlDatacenterEntities" connectionString="metadata=res://*/Entities.MySqlDatacenter.MySqlDatacenterModel.csdl|res://*/Entities.MySqlDatacenter.MySqlDatacenterModel.ssdl|res://*/Entities.MySqlDatacenter.MySqlDatacenterModel.msl;provider=MySql.Data.MySqlClient;provider connection string=&quot;server=127.0.0.1;user id=test1;password=1111;persistsecurityinfo=True;database=datacenter;characterset=utf8;Convert Zero Datetime=True;Allow Zero Datetime=True&quot;" providerName="System.Data.EntityClient" />
</connectionStrings>
